version: "3.8"

services:
  localstack:
    container_name: localstack_main
    image: localstack/localstack:3.0
    ports:
      - "4566:4566"
    environment:
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - SERVICES=s3,lambda,sns,sqs,iam,cloudwatch
      - AWS_DEFAULT_REGION=sa-east-1
      - LAMBDA_EXECUTOR=docker
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"